JWT_SECRET=secret_key
JWT_REFRESH_SECRET=second_refresh_key
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=alliance
DB_NAME=alliance
NODE_ENV=development
SMTP_HOST=smtp.mailgun.org
SMTP_USER=ses_smtp_user
SMTP_PASSWORD=ses_smtp_password
ADMIN_USER=admin@gmail.com
ADMIN_PASSWORD=password
STRIPE_API_KEY=sk_xxxxx
STRIPE_ENDPOINT_SECRET=whsec_xxxx
TZ=UTC

ASSETS_BUCKET=xxx
AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xxx
AWS_REGION=us-west-2

POSTHOG_KEY=phc_xxx
POSTHOG_QUERY_KEY=phx_xxx
POSTHOG_PROJECT_ID=000

PANGRAM_API_KEY=pg_xxx
PANGRAM_API_URL=https://text.api.pangram.com/v3

APP_URL=http://localhost:5173

APNS_KEY_ID=xxx
APNS_TEAM_ID=629G87T7R5
APNS_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nxxx\n-----END PRIVATE KEY-----