doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Thanks for helping out! Want to do more?

  body
    p Hello #{name},
    p You recently joined an action on the Alliance, and we wanted to check if you wanted to make an account and become a full Alliance member.
    p If so, you can set a password for your account, #{email}, by clicking the link below:
    p #{url}

    p Otherwise, we hope you'll choose to help out again soon!