.home-page {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.home-page .content {
  width: calc(100% - 200px);
  align-items: start;
  justify-content: center;
  padding: 30px;
}

.home-page h1 {
  color: #111;
  font-family: 'Font', monospace;
  font-size: 15pt;
  font-weight: 800 !important;
  margin-bottom: 20px;
}