.navbar {
  display: flex;
}

/* Home page navbar */
.home-navbar {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home-navbar img {
  height: 3em;
  padding: 10px;
  filter: opacity(var(--opacity));
}

.home-navbar h1 {
  font-size: 4em;
  margin: 10px;
}

.logo {
  width: 50px;
}

/* Dashboard sidebar */
.sidebar {
  width: 170px;
  background-color: #fff;
  border: none;
  border-right: 1px solid #ddd;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 30px;
  height: 100vh;
}

.sidebar p {
  font-family: 'ITC';
  font-size: 12pt;
  margin-top: 30px;
  text-align: left;
}

.sidebar img {
  padding-left: 45px;
  padding-top: 35px;
  padding-bottom: 140px;
}