/* Common shared styles */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0;
  font-size: 11pt;
  text-align: left;
}