
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Font';
  src: url('../public/assets/fonts/font.woff2') format('woff2');
}

@font-face {
  font-family: 'Berlingske';
  src: url('../public/assets/fonts/BerlingskeSerif-Blk.woff2') format('woff2');
}

@font-face {
  font-family: 'ITC';
  src: url('../public/assets/fonts/ITCAvantGardePro-Bk.otf') format('opentype');
}

@font-face {
  font-family: 'Toledo';
  src: url('../public/assets/fonts/Toledo-Serial\ Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Public';
  src: url('../public/assets/fonts/PublicSans-VariableFont_wght.ttf') format('woff2');
}

@font-face {
  font-family: 'EB-Garamond';
  src: url('../public/assets/fonts/EBGaramond-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Garamond';
  src: url('../public/assets/fonts/Adobe\ Garamond\ Pro\ Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bueno';
  src: url('../public/assets/fonts/bueno-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ITC-Bold';
  src: url('../public/assets/fonts/ITCAvantGardePro-Md.otf') format('opentype');
}

@layer base {
  body {
    @apply m-0 font-itc;
  }
  
  h1 {
    @apply font-berlingske opacity-90 my-5;
  }
  
  strong {
    @apply font-itc-bold;
  }
  
  a {
    @apply text-black no-underline;
  }
  
  code {
    @apply font-mono;
  }
}