@import "tailwindcss";
@source "../../../shared/";

@font-face {
  font-family: "Adobe Clean Serif";
  src: url("/assets/fonts/AdobeCleanSerif-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Adobe Clean Serif";
  src: url("/assets/fonts/AdobeCleanSerif-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Berlingske";
  font-display: swap;
  src: url("/assets/fonts/BerlingskeSerif-Blk.woff2") format("woff2");
}

@font-face {
  font-family: "Toledo";
  src: url("/assets/fonts/Toledo-Serial\ Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Public";
  src: url("/assets/fonts/PublicSans-VariableFont_wght.ttf") format("woff2");
}

@font-face {
  font-family: "EB-Garamond";
  font-display: swap;
  src: url("/assets/fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Garamond";
  src: url("/assets/fonts/Adobe\ Garamond\ Pro\ Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bueno";
  src: url("/assets/fonts/bueno-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Sabon";
  src: url("/assets/fonts/sabon-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Sabon";
  src: url("/assets/fonts/sabon-bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/Avenir_Next_W00_400.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/Avenir_Next_W00_600.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-VariableFont_wdth\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Playfair";
  src: url("/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-display: swap;
  src: url("/assets/fonts/IBMPlexSans-VariableFont_wdth,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("/assets/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-display: swap;
  src: url("/assets/fonts/NotoSans-VariableFont_wdth,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Hedvig";
  src: url("/assets/fonts/HedvigLettersSerif-Regular-VariableFont_opsz.ttf")
    format("truetype");
}

@theme {
  --color-blue: #318dde;
  /* --color-page: oklch(99% 0 0); */
  --color-page: #fff;
  --color-green: rgb(98, 161, 36);
  --color-navy: rgb(7, 30, 64);
  --color-staff: #5598da;
  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.03), 0 2px 4px -2px rgb(0 0 0 / 0.05);
  --color-gray-1: #fafafa;
  --color-gray-2: #d6d6d6;
  --color-gray-3: #777;
  --color-gray-4: #404040;
}

a,
h1,
h2,
h3,
p,
ol,
ul,
span,
label,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
}

.none {
  background-color: rgb(57, 125, 208);
}

.font-weight-450 {
  font-weight: 450;
}

* {
  font-synthesis: none !important;
}

:root {
  --nav-height: 55px;
}

html {
  overflow-x: hidden;
  font-size: 15px;
  background-color: var(--color-page);
  overflow-y: overlay;
  scrollbar-color: #bbb transparent;
}

html.white {
  background-color: white !important;
}

h1 {
  font-weight: 600;
  font-size: 30px;
}

h2 {
  font-weight: 600;
  font-size: 20px;
}

img {
  user-select: none;
}

input,
select {
  background-color: white;
}

.font-serif {
  font-family: "EB-Garamond", "Georgia", serif;
}

.font-ibm {
  font-family: "IBM Plex Sans";
}

.font-sans {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.font-sabon {
  font-family: "Sabon";
}

.font-berlingske {
  font-family: "Berlingske";
}

.font-roboto {
  font-family: "Roboto";
}

.font-toledo {
  font-family: "Toledo";
}

.font-avenir {
  font-family: "Avenir";
}

.font-public {
  font-family: "Public";
}

.goob {
  background: radial-gradient(
    circle at 50% 80%,
    #000000 0%,
    #17243b 30%,
    #030b13 70%,
    #000308 100%
  );
}

.grain {
  background-image: url("./assets/noise.png");
  background-size: 300px;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.6;
  filter: saturate(0);
  mix-blend-mode: soft-light;
}

.coloroverlay {
  background: radial-gradient(circle at 20% 20%, #ff6700 10%, #95ff00 100%);
  opacity: 0.2;
}

.p-AccordionButton {
  display: none !important;
}

.p-AccordionButtonContent {
  display: none !important;
}

.text-link {
  color: var(--color-green);
  text-decoration: underline;
}

a,
button {
  cursor: pointer;
}

hr {
  border-color: var(--color-zinc-200);
}
